.show-enter  {
  opacity: 0;
  transform: translateY(-100%)
}

.show-enter.show-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 500ms ease-in;
}

.show-leave {
  opacity: 1;
  transform: translateY(0)
}

.show-leave.show-leave-active {
  opacity: 0.01;
  transform: translateY(-100%);
  transition: all 300ms ease-in;
}

label { 
  font-family: sans-serif;
}